body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
  background: #fff0f0;
}

header {
  background: #ffffff;
}

h1 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: #000000;
  text-align: center;
}

h2 {
  font-size: 24px;
}

.container {
  width: 1024px;
  margin: 10;
}

.column {
  width: 1024px;
  margin: 10;
  padding 20px 0;
  background: #ffffff;
}

.row {
  width: 1024px;
  margin: 10;
  padding-top;
}



